.title2{
    letter-spacing: 0px;
}
h1.head{
    letter-spacing: 0;
}
/*=== AboutPage ===*/
/*=== AboutPage ===*/
.about{
    background-image: url('../images/85.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
    position: relative;
    padding-bottom: 30px;
    direction: rtl;
}
.about .design{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.81);
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.about  .text{
    color: white;
    padding: 100px 0 50px 0;
    text-align: left;
    
}
.about  .text h3{
    text-align: justify;    
}
.about span {color: #13A89E};

@media(max-width:480px){
    .about  .text h3{
        text-align: right;
    }
}

@media(max-width:992px){
    .about h1.head{
        font-size: 50px;
        width: 60%;
        padding: 15px 20px;
    }
    .about  .text h1{
        font-size: 40px;
    }
    .about  .text h3{
        font-size:20px;
    }
    .about  .text img{
        width: 40px
    }
   
   
    .about .design{
        height: 87%
    }

    .about  .text button{
        display: none;
    }
}
@media(max-width:480px){
    .about h1.head{
        font-size: 35px;
        width: 70%;
    }
 
    .about  .text h1{
        font-size: 35px
    }
    .about  .text h3{
        font-size: 18px;
    }
    
}

