
.log{
    text-align: center;
    padding: 70px 20px 100px 20px;
    border-bottom: 10px;
    
}
.log .form {
    border: 1px solid #cccccc;
    display: inline-block;
    float: none;
    padding: 50px 10px 50px 10px;
    border-radius: 20px;
    box-shadow:1px 1px 5px #c6c6c6
}

.log .form input{
    margin: 15px 0px;  
}
.log .form input:not([type='submit']){
    padding: 20px;
}
.log .form input[type='submit']{
    background-color: #66b4b4 ;    
    color: white;
}

.log .form input[type='submit']:hover{
    background-color: #487b7b ;    
    color: white;
    transition: all 0.5s; 
}

.log .form .forget{
    font-size: 22px;
}

.welcome {
    height: 400px
}
.welcome h4{
    margin-top: 150px;
    background-color: white;
    border: 2px solid #13A89E;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}